/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.body {
  background-color: rgb(234,234,234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(162 145 251) 0%,
    rgb(163 51 200) 69%,
    rgb(100 53 201) 89%
  ) !important;
}

button.ui.orange.inverted.button {
  border-radius: 20px !important;
}

.ui.clearing.segment {
  border-radius: 20px !important;
}

.navUserDropDown {
  padding-top: 7px;
}

#centerImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

#txtHomeScreen {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
  font-size: xxx-large;
  color: aqua;
}

#bckGroundImg {
 
  position: relative;
  width:100%;
  height: 100%;
}

#btmContaner {
  position: absolute;
  top: 85%;
  width: 100%;
  height: fit-content;
}

#root {
  width: max-content;
  height: max-content;
}

#homeGrid {
  margin-top: -0rem; 
  margin-bottom: -0rem; 
  margin-left: -0rem;
  margin-right: -0rem;
}

.ui.message {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  
}

.aHyperlinkText{
  
  cursor: pointer !important;
}

.ui.container {
  text-align: center;
}