@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

/* *:not(i) {
  font-family: 'Comfortaa', cursive !important;
} */

.ekvityPrimaryFont {
  font-family: 'Comfortaa', cursive !important;
}
.textIndentedField input{
  text-indent: 20px;
}

.body {
  background-color: rgb(234,234,234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(162 145 251) 0%,
    rgb(163 51 200) 69%,
    rgb(100 53 201) 89%
  ) !important;
}

button.ui.orange.inverted.button {
  border-radius: 20px !important;
}

.ui.clearing.segment {
  border-radius: 20px !important;
}

.navUserDropDown {
  padding-top: 7px;
}

.socialButtonSimpleOverride {
  box-shadow: 0px 0px 10px 1px rgba(226, 225, 225, 0.75)!important;
  color: #767676!important;
  background: transparent none!important;
  font-weight: 500;
  border-radius: .28571429rem;
  text-transform: none;
  text-shadow: none!important;
}

.autoCompleteSearch {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.autoCompleteSearch input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.shake{
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(359deg);
 }
}