@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');

html {
  font-size: 16px!important;
}

*:not(i):not(span) {
  font-family: 'Comfortaa', cursive !important;
}

.textIndentedField input{
  text-indent: 20px;
}

.body {
  background-color: rgb(234,234,234) !important;
}

#root {
  height: 100%;
}

button.ui.orange.inverted.button {
  border-radius: 20px !important;
}

.ui.clearing.segment {
  border-radius: 20px !important;
}

.navUserDropDown {
  padding-top: 7px;
}

.socialButtonSimpleOverride {
  box-shadow: 0px 0px 10px 1px rgba(226, 225, 225, 0.75)!important;
  color: #767676!important;
  background: transparent none!important;
  font-weight: 500;
  border-radius: .28571429rem;
  text-transform: none;
  text-shadow: none!important;
}

.autoCompleteSearch {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.autoCompleteSearch input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.shake{
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(359deg);
 }
}
