@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

.ekvitiPrimaryFont {
  font-family: 'Comfortaa', cursive !important; 
}

.textIndentedField input{
  text-indent: 20px;
}

.body {
  background-color: rgb(234,234,234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(162 145 251) 0%,
    rgb(163 51 200) 69%,
    rgb(100 53 201) 89%
  ) !important;
}

button.ui.orange.inverted.button {
  border-radius: 20px !important;
}

.ui.clearing.segment {
  border-radius: 20px !important;
}

.navUserDropDown {
  padding-top: 7px;
}

.socialButtonSimpleOverride {
  box-shadow: 0px 2px 2px 2px rgba(184,184,184,0.75)!important;
  color: #767676!important;
  background: transparent none!important;
  font-weight: 500;
  border-radius: .28571429rem;
  text-transform: none;
  text-shadow: none!important;
}